
extends layout

block content
	h1 #{title}: #{genre.name}

	p Do you really want to delete this genre?

	form(method='POST')
		div.form-group
			input#genreid.form-control(type='hidden', name='genreid', value=genre._id)
		button.btn.btn-primary(type='submit') Delete
